<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<!-- Define the parameter to control toggle for view_line_by_line method -->
		<parameter name="isEditMO" value="false" /> <!-- Set to "true" or "false"
		as needed -->

		<classes>
<!--			<class name="com.pin.automation.Digital_Campaign_scheduleTestCase" />-->
<!--			<class name="com.pin.automation.Create_invoiceAndCreditNote_testCase" />-->
			<class name="com.pin.automation.Mix_mediaSchedule" />


			<!--			<class name="com.pin.automation.LoginTestCase" />-->
			<!--			<class name="com.pin.automation.SearchRecords" />-->
			<!--			<class name="com.pin.automation.NavigateToCampaignMenuTabs"
			/>-->

		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
