<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <!-- Define the parameter to control toggle for view_line_by_line method -->
    <parameter name="isEditMO" value="false"/> <!-- Set to "true" or "false" as needed -->

    <classes>
<!--      <class name="com.pinsystem.NavigateToCampaignMenuTabs"/>-->
<!--      <class name="com.pinsystem.Create_invoiceAndCreditNote_testCase"/>-->
<!--      <class name="com.pinsystem.New_Campaign"/>-->
      
      <!-- This class will receive the isEditMO parameter -->
      <class name="com.pinsystem.Digital_Campaign_scheduleTestCase"/>

<!--      <class name="com.pinsystem.LoginTestCase"/>-->
<!--      <class name="com.pinsystem.ForTesting2"/>-->
<!--      <class name="com.pinsystem.SearchRecords"/>-->
<!--      <class name="com.pinsystem.TestClass"/>-->
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
