<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <!-- Set environment here: devbr, pdt, pi2, or prsmpdt -->
    <parameter name="env" value="devbr" />

    <test name="AutomationTest">
        <!-- Run only the tests that match the env-specific group -->
        <groups>
            <run>
                <include name="env-devbr" />
                <include name="env-pdt" />
                <!-- Do NOT include env-pi2 or env-prsmpdt -->
            </run>
        </groups>

        <classes>
            <class name="com.pin.automation.LoginTestCase" />
            <class name="com.pin.automation.Digital_Campaign_scheduleTestCase" />
            <class name="com.pin.automation.Create_invoiceAndCreditNote_testCase" />
            <class name="com.pin.automation.Mix_mediaSchedule" />
        </classes>
    </test>
</suite>
